@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --font: 'Concert One', cursive;
}

::-webkit-scrollbar-thumb {
    background-color: #fff5;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #fff7;
}
::-webkit-scrollbar {
    /* background-color: red; */
    width: 10px;
}

html {
    font-family: var(--font);
}

body {
    margin: 0;
    background-image: url(/img/bg/our-tool-bg1.svg);
    background-size: cover;
    background-attachment: fixed;
    overflow: overlay;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .text {
    font-size: 4em;
    color: aliceblue;
    text-shadow: 0 0 10px #5b4161;
}

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
        "A" 7em
        "B" auto
        / auto
    ;
}